#portalDiv .el-carousel__container {
  height: 100% !important;
}
.contents .el-card__header {
  border-bottom: none;
}
.contents .el-card__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-line !important;
  -webkit-line-clamp: 2; /* 控制显示的行数 */
}
